

body{
    margin:0;
}

:root{
    --headerbg: #333a40;
    --footerbg: #1d3c4e;
    --colorComprar:#198754;
    --colorHoverComprar:#198754;
    --cardBg:rgb(243, 243, 243);
    --lugarBg:#333a40;;
}   

/* -----------------------------------------------------Header- Cabecera-------------------------------------------- */
header{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 5rem;
    background-color:var(--headerbg);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 4 rem;
}

nav{
    margin-top: 10px;
}
header h3{
    color: white;
    
    font-size: 1.25rem;
}
header li a{
    color:rgba(255,255,255,.55);
    text-decoration: none;
    
}
.linav{
    padding: 0.5rem 1rem;
}
.linav a:hover{
    cursor: pointer;
    color:white;
    transition: 1s;
}

#comprar{
  padding: 0.5rem 1rem;
}
#comprar:hover{
    background-color: var(--colorHoverComprar);
    border-radius: 10px 10px 10px 10px;
    color:white;
    cursor: pointer;  
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

header img{
    height: 70 px;
    max-width: 100px;
}

#comprar{
    color: var(--colorComprar);
}


/* ---------------------------------------------Dropdown - Botón desplegable----------------------------------- */
.btn-group{
    display: none; /*oculta el desplegable */
}
.btn-group .btn-secondary{
    height: 40px;
    width: 40px;
    
}

.button, .dropdown-menu{
    background-color: #38444e;
}
.btn-secondary.dropdown-toggle::after {
    display: none;/* quita la flecha por defecto */
}

.dropdown-toggle{
    background-color: #38444e;
    border-color:#38444e;
}

.dropdown-item{
    font-weight: bolder;
}

/* ---------------------------------------------Main Carousel------------------------------------------------------*/

.carrusel{
    width: 100vw;
}

.texto{
    z-index: 5;
    position: absolute;
    top: 50%; /* Puedes ajustar la posición vertical */
    left: 70%; /* Puedes ajustar la posición horizontal  */
    transform: translate(-50%, -50%); /* Centra el texto vertical y horizontalmente en relación con el contenedor */
    padding: 10px; /* Espaciado interior para el texto */
    color: white;
}
  
.portadabtn{
    z-index: 5;
} 
.btn-secondary{
    padding: 0px;
    margin: 0px;
    border: 0px;
    }

.btn-secondary a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
}
  
.carousel-item img{
    filter: brightness(55%);
}

/* --------------------Titulo Separador--------------------- */
.titulo {
    padding: 10px;
    text-align: center;  
    
}
.titulo p{
    margin: 0;  
}

.titulo h2{
    font-weight: bolder;
    margin:0;   
}

/*------------------------------------------------- CARDS  Section "Oradores"---------------------------------*/

.card-group{
    z-index: 0;
   width: 100%;
   height: 37rem;
   margin-bottom:20px;
   display: flex;
   justify-content: center;
}
.card{
    align-items: center;
    margin: 0% 2% 0% 2%;
    
    background-color: var(--cardBg);
    overflow: hidden;
   
}

.card:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px #9bb0c2;
}

.card img{
    height: 300px;
    width: 300px;  
}
.cajaTags{
    display: flex;
    margin-bottom: 6px;    
}
.cajaTags>*{margin-right: 3px;}

.tag{    
text-align: center;
color: white;    
border-radius: 5px 5px 5px 5px;
width: 88px;

font-size: small;
font-weight: bolder;
}

.uno{background-color: yellow;color: #1d3c4e;}
.dos{background-color: rgb(29, 170, 151);}
.tres{background-color: grey;}
.cuatro{background-color: rgb(241, 80, 80);}

/*------------------------------------------------Section Lugar y fecha-------------------------------------- */

.box-where{
    display: flex;
    
    background-color:var(--lugarBg);
    width: 100vw;
}

.box-where img{
    width: 50%;    
}

.caja{
    padding: 3%;
    color: white;
}

.boton{
    width: 120px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

.boton:hover{
    background-color: white;
    color: black;   
}

/* --------------------------------------------Section Registro ----------------------------------------*/

.btn-form {
    background: #96c93e;
    color: #fff !important;
  }
 .btn-form:hover { background: #74aa17; }


/*-------------------------------------------------------- Footer ------------------------------*/

footer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--footerbg);
    height: 6rem; 
}
footer ul {
    display: flex;
    
    list-style: none;
    justify-content: space-around;
}

footer ul li{
    padding: 10px;
    color: white;
}

footer ul li:hover{
    padding: 10px;
    color: rgb(134, 133, 133);
    transition: 1s;
    cursor: pointer;
    
}

/* -----------------------------------------Media Query-------------------------------------- */

@media (max-width: 960px){
    header{
        position: relative;
        font-size: small;
    }

    .btn-group{
        display: flex;
    }
    .texto{
        width: 80%;
        font-size: small;
        top: 50%; 
        left: 50%; 
    }

    #oradores{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .card-group{
        display: flex;
        flex-flow: column nowrap;
             
        height: 110rem;
        width: 22rem;
        
    }
    .card{
       margin: 10px;
    }

   
    .box-where{
        flex-flow: column nowrap;
        align-items: center;
    }
    .box-where img{
       height:  30rem;
       width: 100% ;
       min-width: 50%;
    }

    footer{
        
        height: 6%;
        
    }
    footer ul {
        flex-flow: row wrap;
    }

    nav{
        display: none;
    }

}

@media (min-height: 448px) {
    .carousel-item, .carrusel, .carousel-inner{
        min-height: 70vh;
    }
    .carousel-item img{
        min-height: 70vh;
    }

}